@model PetAnimals.Models.CurrentOwner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CurrentOwner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pet.PetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pet.PetName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CurrentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
